<!-- The system will display the "name" and "avatar image" of the logged-in user, as well as "rock-paper-scissors game performance and statistical data." 
As all this information is held as fields within the CustomUser, it suffices to receive an object of CustomUser and access its fields to display the information. -->

{% extends 'janken/base.html' %}

{% block title %}Your Info{% endblock %}

{% block header %}
<h1 class="header-string">Safehouse</h1>
<p>Welcome, {{user.username}} !</p>
{% endblock %}

{% block content %}
<img src="{{user.image.url}}" class="image-profile">
<div class="side">
    <table class="table-list">
        <thead>
            <tr><th colspan="2">{{user.username}}'s records </th></tr>
        </thead>
        <tbody>
            <tr><td>Total played</td><td>{{user.play_num}} times</td></tr>
            <tr><td>You won</td><td>{{user.win_num}} times</td></tr>
            <tr><td>You lost</td><td>{{user.lose_num}} times</td></tr>
            <tr><td>Draw</td><td>{{user.draw_num}} times</td></tr>
            <tr><td>Win rate</td><td>{{user.win_rate|floatformat}}%</td></tr>
        </tbody>
    </table>

    <table class="table-list">
        <thead>
            <tr>
                <th colspan="2">{{user.username}}'s stats</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Rock</td><td>{{user.stone_num}} times</td></tr>
            <tr><td>Scissors</td><td>{{user.scissors_num}} times</td></tr>
            <tr><td>Paper</td><td>{{user.paper_num}} times</td></tr>
        </tbody>
    </table>
</div>
{% endblock %}