{% extends 'base.html' %}

{% block title %}User Info{% endblock %}

{% block header %}
<h1 class="header-string">User Information</h1>
<p>{{other.username}}'s information</p>
{% endblock %}

{% block content %}
<img src="{{other.image.url}}" class="image-profile">
<div class="side">
    <table class="table-list">
        <thead>
            <tr><th colspan="2">{{other.username}}'s results</th></tr>
        </thead>
        <tbody>
            <tr><td>played</td><td>{{other.play_num}} times</td></tr>
            <tr><td>won</td><td>{{other.win_num}} times</td></tr>
            <tr><td>lost</td><td>{{other.lose_num}} times</td></tr>
            <tr><td>draw</td><td>{{other.draw_num}} times</td></tr>
            <tr><td>win rate</td><td>{{other.win_rate|floatformat}}%</td></tr>
        </tbody>
    </table>

    <table class="table-list">
        <thead>
            <tr><th colspan="2">{{other.username}}'s stats</th></tr>
        </thead>
        <tbody>
            <tr><td>Rock</td><td>{{other.stone_num}} times</td></tr>
            <tr><td>Scissors</td><td>{{other.scissors_num}} times</td></tr>
            <tr><td>Paper</td><td>{{other.paper_num}} times</td></tr>
        </tbody>
    </table>
</div>

{% endblock %}

<!-- Essentially, the content displayed is the same as in index.html. 
However, while index.html is a template designed to display information about the user who is currently logged in, 
user.html aims to display information about other users, resulting in slight differences in the text displayed. -->
